*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    font-family: "Hind",sans-serif;
    font-size: 14px;
}

/* Header */
header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
 header .navbar-brand span{
font-size: 2.5rem;
 }

 header .navbar-brand i{
     color: rgb(53, 162, 44);
 }
 header .navbar-nav .nav-item{
     margin: 0 10px;
 }
 header .navbar-nav .nav-link{
    color: white;
    font-size: 1.2rem;
}
 header .navbar-nav .nav-item.active .nav-link{
     color: rgb(53, 162, 44);
 }
 header .navbar-nav .nav-item::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(53, 162, 44);
    transition: all 0.5s;
 }
 header .navbar-nav .nav-item.active::after{
     width: 100%;
 }
 header .navbar-nav .nav-item:hover::after{
width: 100%;
 }

 /* Carousel */
 #carousel .carousel-item{
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;
 }
 #carousel .carousel-item:nth-child(1){
     background-image: url(./../image/finland.jpg);
 }
 #carousel .carousel-item:nth-child(2){
    background-image: url(./../image/mountains-1.jpg);
 }
 #carousel .carousel-item:nth-child(3){
    background-image: url(./../image/mountains.jpg);
 }
 #carousel .carousel__thumb {
    width: 150px;
    border-radius: 50%;
    backdrop-filter: blur(5px);
    padding: 10px;
    margin: 0 auto;
 }
 #carousel .carousel__thumb img{
width: 100%;
border-radius: 50%;
border:5px solid rgba(138, 138, 138, 0.623);
 }
 #carousel .carousel__content{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 #carousel .carousel__content h1{
     font-size: 4rem;
 }
 #carousel .carousel__content p{
     font-size: 2rem;
 }

#carousel .carousel-indicators li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
}
#carousel .carousel-indicators li.active{
    background-color: green;}

/* welcome*/
#welcome{
    position: relative;
}
#welcome .overlay{
    background-image: url(./../image/memphis_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
}
.progress{
    height: 0.3rem;
}
.aos-animate .progress-bar{
    background: linear-gradient(to right, #33a336 ,#11a7c0);
    animation-name: progress;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
 @keyframes progress{
     from{
         width: 0;
     }
     to{
        width: 100%;
     }
 }

 /* feature */
 #feature{
     margin-top: 5rem;
     background-image: url(./../image/3.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
     padding: 8rem 0;
     color: white;
     
 }
 #feature .overlay{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-origin: gray;

 }

 
















 @media screen and (max-width: 576px) {
    header .navbar-brand span{
        font-size: 1.5rem;
         }
         header .navbar-brand i{
            color: rgb(53, 162, 44);
            font-size: 2rem;
        }
  }

